---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MainContent from '../components/MainContent.astro';
import Modals from '../components/Modals.astro';
---

<Layout title="BitEdit - MonetizationVars Editor">
	<main>
		<div id="update-available-banner">
		</div>

	<div class="content-wrapper w-full flex flex-col items-center">
		<Header />
		<MainContent />
		<Modals />
	</div>
	<Footer />

	<div id="offline-indicator">Offline Mode</div>
	<script src="../scripts/main.ts"></script>
	</main>
</Layout>
