---
---
<footer class="app-footer w-full">
    <p class="version" id="app-version-display"></p>
    <p class="derivative-work-footer">
        Derivative of <a href="https://github.com/yntha/bitlife-edit" target="_blank" rel="noopener noreferrer">yntha/bitlife-edit</a> (GPLv3).
    </p>
</footer>